tmp/
components/
managed_components/
build/
.vscode/
.devcontainer/
.github/workflows/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
*.pyc
*.bin
mmap_generate_*.h
.clangd
638-printer/3376524106windows_csharp_20230904/
638-printer/*.rar
638-printer/*.zip
638-printer/*.pdf
*.log
